# Built website
public/

# Generated content
content/assets/
content/learn/errors/
content/examples/
content/examples-webgpu/
content/community/people/*.toml
content/community/people/*.png
content/community/people/*.svg
content/community/people/*.jpg
content/community/people/*.jpeg
content/community/people/*.webp
static/assets/examples/
static/processed_images/

# Tools
target/

# Editor config
.vscode/
.idea/

# Local environmental variables
.env

# MacOS folder attributes
**/.DS_Store
