li {
  --list-margin: 1.25em;
  max-width: $paragraph-width;
  margin-bottom: var(--list-margin);

  > ul,ol {
    margin-top: var(--list-margin);
  }
}

nav li, .page-with-menu__menu li {
  margin: 0;
}
